/* * {
  box-sizing: border-box;
  margin: 0;
} */

div {
  border: 1px solid red;
}

.btn-primary {
  background-color: purple;
}

:root {
  --body-background: yellow;
}

body {
  background-color: var(--body-background);
}
